/* CSS Document */


 
.content { padding:0 20px 20px 20px }
 
.header-color {
	color:#ffc20e;
	font-weight:bold;
	text-transform:uppercase;
}

.bulletstyle ul {
	list-style:none;
	padding:0px;
	margin:0px;
}

.bulletstyle ul li{
	padding:5px 0;
}

.bulletstyle2 ul li {
	font-weight:bold;
	
	
}


#uploadimg {
	width:600px;
	height:450px;
	
}

.gallery img{
	width: 180px;
	height: 120px;
    overflow: hidden;
}

.pagination > li > a, .pagination > li > span {
	background-color: #000;
	border:0px;
	color:#F36F21;
}

.pagination > .active > a {
	background-color: #f36f21;
	border:0px;
	color:#000;
}

.pagination > li > a:hover {
	background-color: #ffc20e;
	border:0px;
	color:#000;
}

.btn-orange {
	background-color:#f36f21;
	color:#000;
		
}
	
	
.caption {
	height:180px;
		
}


#photodetail {
	width:600px;
	margin:0px auto;


}

.thumbnail img { min-height:170px; height:170px; }

.modal { color:#000; }

.modal-dialog {
  padding-top: 50%;
}
