#navi ul, li {
	margin:0;
	padding:0;
}


#navi {

	height:44px;
	background-color:#fff; /* Fallback */
	padding-top:1px;
	padding-bottom:5px;
	padding-bottom:60px;

	
}
/* APPLE STYLE NAVIGATION MENU */
#appleNav {
	list-style:none;
	/* Lucinda Grande is the font used on the website from Apple. */
	font-size:12px;
	font-weight:bold;
	/* We want to add the shadow to the complete navigation menu. In order to do that, we'll need to set
    the correct width and height, and also the correct borders, in order to create the perfect drop shadow */

}
#appleNav li {
	border-right:1px solid #fff;
	border-left:1px solid #fff;
	height:44px;
	border-bottom:1px solid #fff;
	padding:5px 12px;
	background-color:#f36f21; /* Fallback */
}
/* Set the states when hovering, except for the last item in the list (the search bar), since it doesn't need to change */
#appleNav li:hover {
	background-color:#ffc20e; /* Fallback */
}
/* When the user clicks the button, we simply change the box inset (compared to the "hover") */
#appleNav li:active {
	background-color:#ffc20e; /* Fallback */
}

#appleNav .active {
	background-color:#ffc20e; /* Fallback */
}


#appleNav li a {
	color:#000;
	text-decoration:none;
	text-align:center;
	display:block;
	outline:none;
}
/* Rounded corner for the first in last item. Shorthand: Top left, Top right, Bottom right, Bottom left.
We also remove the borders, since they don't need them. */

#appleNav li:last-child {
	border-right:none;
	
}
